In [7]:
import pandas as pd
import csv

In [8]:
df = pd.read_csv('kontak.csv')
df.head()

   NO        NAMA  TELEPON
0   1  Achmad Ali    81234
1   2  Budi Utomo  8712333
2   3   Toni Saja  8733311
3   4  Dewi Utami   851231

In [9]:
def csv_list (fileName):
  data = []
  with open (fileName, 'r') as file:
    csv_reader = csv.reader(file, delimiter=',')
    for row in csv_reader:
      data.append(row)
  return data

In [10]:
print(csv_list('kontak.csv'))

[['NO', 'NAMA', 'TELEPON'], ['1', 'Achmad Ali', '081234'], ['2', 'Budi Utomo', '08712333'], ['3', 'Toni Saja', '08733311'], ['4', 'Dewi Utami', '0851231']]

In [4]:
df.shape

(4, 3)